#data {
        display: flex;
        justify-content: space-evenly;
        padding: 3% 0 0 25%;
        border-style:  none;
        min-width: 50px;
        border-radius: 50%;
}

#data-card {
        display: flex;
        justify-content: center;

}

#data-card button {
        display: flex;
    justify-content: center;
    flex-direction: column;
    width: max-content;
}